.break-session {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    background: #006666;
    border: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 30px;
    width: 30px;
    border-color: white;
    border-width: thin;
}